@media screen and (max-width: 800px) {
    section {
        font-size: 30px;
    }

    .container {
        grid-template-areas:
        "section-a section-a section-a"
        "section-b section-b section-b"
        "section-b section-b section-b"
        "section-c section-d section-e"
        "section-f section-f section-f";
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1em;
        column-gap: 3em
    }
}